<a href="https://colab.research.google.com/github/bawantha/ride_fare/blob/master/RideFarePrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Ride Fare Classification Project Competition**

In [0]:
import pandas as pd

In [3]:
pd.read_csv('train.csv')

          tripid  additional_fare  duration  ...  drop_lon    fare    label
0      189123628             10.5     834.0  ...   79.8783  270.32  correct
1      189125358             10.5     791.0  ...   79.8923  197.85  correct
2      189125719             10.5    1087.0  ...   79.9146  301.64  correct
3      189127273             10.5     598.0  ...   79.8971   82.30  correct
4      189128020              NaN       NaN  ...   79.9290  358.39  correct
...          ...              ...       ...  ...       ...     ...      ...
17171  213803193             10.5     838.0  ...   80.6557  198.26  correct
17172  213812756             10.5    2151.0  ...   79.9389  581.23  correct
17173  213813930             10.5     263.0  ...   79.9017   76.20  correct
17174  213815405             10.5     858.0  ...   79.9010  133.31  correct
17175  213817296             10.5     262.0  ...   79.9374   98.57  correct

[17176 rows x 14 columns]

In [0]:
train_fare=pd.read_csv('train.csv')

In [0]:
test_fare=pd.read_csv('test.csv')

In [6]:
tran_fare.head()

NameError: ignored

In [7]:
train_fare.head()

      tripid  additional_fare  duration  ...  drop_lon    fare    label
0  189123628             10.5     834.0  ...   79.8783  270.32  correct
1  189125358             10.5     791.0  ...   79.8923  197.85  correct
2  189125719             10.5    1087.0  ...   79.9146  301.64  correct
3  189127273             10.5     598.0  ...   79.8971   82.30  correct
4  189128020              NaN       NaN  ...   79.9290  358.39  correct

[5 rows x 14 columns]

In [8]:
test_fare.head()

      tripid  additional_fare  duration  ...  drop_lat  drop_lon     fare
0  213284604             10.5       924  ...   6.77490   79.8840   289.27
1  213286352             10.5      4249  ...   6.55091   79.9706  1912.70
2  213293973             10.5      1552  ...   6.90539   79.8989   394.00
3  213294622             10.5       462  ...   6.80401   79.9407   154.32
4  213298687             10.5       814  ...   6.98875   79.8914   147.47

[5 rows x 13 columns]

In [9]:
train_fare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17176 entries, 0 to 17175
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   tripid                     17176 non-null  int64
 1   additional_fare            16974 non-null  float64
 2   duration                   16974 non-null  float64
 3   meter_waiting              16974 non-null  float64
 4   meter_waiting_fare         16974 non-null  float64
 5   meter_waiting_till_pickup  16974 non-null  float64
 6   pickup_time                17176 non-null  object
 7   drop_time                  17176 non-null  object
 8   pick_lat                   17176 non-null  float64
 9   pick_lon                   17176 non-null  float64
 10  drop_lat                   17176 non-null  float64
 11  drop_lon                   17176 non-null  float64
 12  fare                       17039 non-null  float64
 13  label                      17176 non-null  object
dtypes: float64(10), int64(1), object(3)
memory usage: 1.8+ MB